*{
    box-sizing: border-box;
}

html{
    font-family: 'Libre Franklin', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ping_column{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 55px;
}

header{
    margin-top: 4rem;
    margin-bottom: 2rem;
  
}

#words{
    text-align: center;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 59%);
}

#words p{
    font-size: 0.8rem;
    color:hsl(209, 33%, 12%);
    font-weight: 500;
}

h1 span{
    color: hsl(209, 33%, 12%);
    font-weight: bold;
}

#form{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 75%;
    
    
}

#email{
    border-radius: 1rem;
    border: hsl(223, 100%, 88%) 1px solid;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

input::placeholder{
    color: hsl(223, 100%, 88%);
    padding-left: 1rem;
  }

#blue_button{
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color:  hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
    font-weight: bold;
}

#picture{
    margin-top: 4rem;
}

#chart{
    width: 320px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.social{
    width: 15px;
    
}

#icons{
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

#copy p{
    font-size: 0.7rem;
    color: hsl(0, 0%, 59%);
}

.bad{
    display: none;
}

@media screen and (min-width:1024px){
form{
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: 70px;
}

#ping_column{
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2.5rem;
}

#email{
    width: 295px;
}

#blue_button{
   width: 140px;
   margin-left: 1rem;
}

#chart{
    width: 600px;
}
}